<div>
  <div>
    <strong><%= comment.name %></strong>
    <%= comment.created_at.to_formatted_s(:long) %>
  </div>

  <div><strong>Content:</strong></div>
  <div><%= h comment.content %></div>
</div>
