%h1 About Alan Foster
%p
  I am a highly enthusiastic and self-motivated individual. I often spend vast amounts of time learning new developmental
  languages.

  I frequently undergo projects in order to acquire a fuller understanding of scripting and programming
  languages, such as recently investigating AngularJS, TypeScript, NodeJs and Scala.
%p
  I enjoy learning via MOOCs, such as Coursera, and I regularly participate in IRC channels, stackoverflow and use GitHub.
%p
  In particular I am passionate about learning new paradigms, programming
  languages, and frameworks. In recent years I have spent time learning some of the following core topics

  %ul
    %li Web Development Frameworks
    %li Compiler Theory
    %li Machine Learning
    %li Functional Programming
%p
  Playing guitar and composing music are also passions of mine. The sense of joy after completing a song is truly
  an overwhelming feeling. Above all I feel inspired when I can show others that which I hath created. Art is also
  a hobby which has allowed for me to show my creativity, technical ability, and aptitude to express myself.

%h1 Current Developments
%p
  A list of the recent projects which I have worked on can be
  found on my #{link_to 'Github page', 'https://github.com/alanfoster'}
