.section
  .heading
    BLOGS
  = render 'posts/overview'

.section
  .heading
    PROGRAMMING
  .link
    %a{:href => "#"} link one
  .link
    %a{:href => "#"} link two
  .link
    %a{:href => "#"} link three
  .link
    %a{:href => "#"} link four
.section
  .heading
    OTHER
  %div{:style => ""}
    = image_tag 'contact.png', alt: 'contact'
    %a{:href => "http://stackoverflow.com/users/551841/alanfoster"}
      %img{:alt => "profile for AlanFoster at Stack Overflow, Q&amp;A for professional and enthusiast programmers", :height => "58", :src => "http://stackoverflow.com/users/flair/551841.png", :title => "profile for AlanFoster at Stack Overflow, Q&amp;A for professional and enthusiast programmers", :width => "208"}
